.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;

  &-address {
    @extend .container;
  }
  &-button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
}
